<span class="table_title">Shipment Instructions:</span>
<table>
  <tr>
    <td class="dkred">Ship samples no later than Wednesday of any given week and confirm with
    Julie by <a href="mailto:insert_contact_name@stanford.edu">email</a> before shipping.</td>
  </tr>
  <tr><td><u>Ship samples to:</u></td></tr>
  <tr><td>Julie Wilhelmy</td></tr>
  <tr><td>Stanford Genome Technology Center</td></tr>
  <tr><td>855 S.California Ave</td></tr>
  <tr><td>Palo Alto, CA 94304</td></tr>
</table>