<span class="table_title">Shipment Details:</span>
<table class="info">
  <tr>
    <th>Date Shipped</th><td><%=h shipment.date_shipped %></td>
    <th>Date Received</th>
	<td><%=h shipment.date_received_or_na %></td>
	<th>FedEx Tracking#</th><td><%=h shipment.fedex_tracking_nr %></td>
  </tr>	
  <tr>
    <th>Comments</th><td><%=h shipment.comments %></td>
  </tr>
</table>