
Params: <%= debug(params) %>

<h3>Debug</h3>
<% @samples.each do |sample| %>
  Sample ID is <%= sample.id %>, Shipment Info:<br />
    <% if (!sample.shipment.blank?) %>
	   Shipment ID is [<%= sample.shipment.id %>], Date Received is [<%= sample.shipment.date_received %>]<br />
	 <% end %>
  <hr />
<% end %>


