<h3>New sample</h3>

<% form_for @sample, :url => {:action => 'create'} do |f| %>
  <%= f.error_messages %> 
 
  <span class="form_title">Sample Details:</span>
  <%= render :partial => 'sample_form', :locals => {:f => f, :sample => @sample} %>
  
  <p><%= f.submit "Save" %>&nbsp;&nbsp;&nbsp;<%=link_to 'List All', samples_path %></p>
  <% end %>
  