<h1>New sample</h1>

<% form_for @sample, :url => {:action => 'create'} do |f| %>
  <%= f.error_messages %> 
 
  <%= render :partial => 'sample_form', :locals => {:f => f, :sample => @sample} %>
  
  <%= break_clear(f.submit "Save") %>
  
  <%= link_to 'List All', samples_path %>
  
<% end %>
  