<span class="table_title">Sample &amp; Shipment Confirmation:</span>

<p class="dkred">Warning: Number of cells < 3000.  Confirmed with Julie?<br/>
Warning: Shipment date after Wednesday.  Confirmed with Julie?</p>

<p>Please verify the following items:</p>
<table>
  <tr><td>Sample labeled with barcode: nnn</td></tr>
</table>

<p>If shipping the samples at this time:</p>
<table>
  <tr><td>Container 75% full of dry ice</td></tr>
  <tr><td>FedEx number (xxxx) verified</td></tr>
  <tr><td>Emailed Julie with shipment information</td></tr>
</table>

<span>Edit</span> | <span>Save &amp; Continue</span>