<br />
<h3>Welcome!</h3>
<p> ISCC LIMS manages clinical samples, molecular assays and other processing related
    to high throughput RNA sequencing operations for the Intestinal Stem Cell Consortium </p>
<table border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td><div class="big-login-buttons"><%=link_to 'SAMPLE SUBMISSION', new_sample_path %></div></td>
		<td><div class="big-login-buttons"><%=link_to 'DATA RELEASE', samples_path %></div></td>
	</tr>
</table>

