<br />
<h3>Welcome!</h3>
<br />
<br />
<p> ISCC LIMS manages clinical samples, molecular assays and other processing related
    to high throughput RNA sequencing operations for the Intestinal Stem Cell Consortium </p>
<br />
<br />

