<br />
<h3>Welcome!</h3>
<p> ISCC RNA-Seq provides detailed transcriptome analysis of intestinal stem cell populations for the 
Intestinal Stem Cell Consortium </p>
<table border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td><div class="big-login-buttons"><%=link_to 'SAMPLE SUBMISSION', new_sample_path %></div></td>
		<td><div class="big-login-buttons"><%=link_to 'DATA RELEASE', result_files_path %></div></td>
	</tr>
</table>

