<fieldset class="form">
  <legend>New Sequencing Run</legend>
  <table border="0" class="form">  		  
	<tr>
	  <th>Date:</th>
	  <td><%= f.calendar_date_select(:date_sequenced, :valid_date_check => "date <= (new Date()).stripTime()", :size => 15) %></td>
	</tr>
	<tr>
	  <th>Sequencing Run#:</th>
	  <% if (controller.controller_name == "seq_runs" && controller.action_name == "new" ) %>
	  <td><%= f.text_field(:seq_run_nr, :size => 15) %></td>
	  <% else %>
	  <td><%= @seq_run.seq_run_nr %></td>
	  <% end %>
	</tr>
  </table>
</fieldset>
