<h1>Sample Sequence Results</h1>

<h3>debug: List from result_files table</h3>
<% @results.each do |result| %>

       <%=h result.document %><br />
   
<% end %>

<%= break_clear %>

<%= link_to 'Samples List', samples_path %>
