<h1>Listing Result Files</h1>

<table class="list">
  <tr>
  	<th>Document Name</th>
    <th>Sample Name</th>
	<th>Sample Barcode</th>
    <th>SC Marker Validation</th>
  </tr>

<% @result_files.each do |rfile| %>
  <tr>
  	<td><%= link_to rfile.document, rfile %></td>
	<td></td>
	<td></td>
	<td></td> 
  </tr>
<% end %>
</table>
