<h1>Sample Sequence Results - testing getting some files</h1>

<!-- 
TODO:
pass the sample id from /samples/nn page
query result_files on sample_id
get array of document names
go to dir on server by labname (?)
link to those files
-->

<%= link_to 'View Figure 1', figure_1_url %><br />
<%= link_to 'View Table 1, html', table_1_url %><br />
<%= link_to 'Table 2, download Excel', table_2_url %>