<h1>Link Sample Sequence Results</h1>

<% form_tag(:action => :read_files_create) do %>
  <%= collection_select(:lab, :id, @labs, :id, :lab_name, {:include_blank => 'Select Lab'}) %>
  <%= submit_tag "Go" %>
<% end %>

<%= break_clear %>

<!-- this part displays after read_files_create has run -->
<% if !@lab.blank? %>
<%= render :partial => 'link_files_to_samples_form', :locals => {:heading => "Result Files for " + @lab.lab_name + " After Adding New"} %>
<% end %>

