<h1>Link Sequence Result Files to Samples</h1>

<h3>Debug:</h3>
<h4>from lab table: id=<%= @lab.id %>, name=<%= @lab.lab_name %></h4>

<h3>Debug: Results on Filesystsem</h3>
<% @results_on_filesystem.each do |file|%>
  <%= file[:document] %><br />
<% end %>
<br />
<h3>Debug: Results in Database</h3>
<% @result_files_before_save.each do |document|%>
  <%= document %><br />
<% end %>
