<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title>ISCC LIMS<%= controller.action_name %></title>
        <%= stylesheet_link_tag 'lims_std' %>
        <%= javascript_include_tag :all, :cache => true %>
		<%= calendar_date_select_includes %>
    </head>

<body id='body'>
	
<div id="container" style="width: 98%;">
	
<div id="header">
	<div class="logo"><%= image_tag("sutech_reflect_DB.gif", :size => "99x80", :alt => "Stanford Genome Tech") %></div>
	<div class="sitename">ISCC LIMS <% if RAILS_ENV != 'production'%> - (<%= RAILS_ENV%>)<%end%></div>	
	<div class="version">Version: 0</div>
    <% if logged_in? %>	
	    <div class="logout-link"><%= link_to 'Logout', logout_url %></div>
	<% end %>
	<div style="clear:both;"></div>
</div><!-- /header -->

<div id="nav-box"></div>

<div id="main">
  <% if logged_in? %>	
    <div id="leftsidebar">
        <div class="user_info">
	   <i> Logged in as: <%= current_user.login %> </i>
        </div>
	<ul class="opened">
	
	<li><%=link_to 'New Sample', new_sample_path %></li>	
	<li><%=link_to 'List Samples', samples_path %></li>
	<li> <%= link_to_function "System Tables", toggle_div(:systables_menu)%> </li>
	<div id="systables_menu", style="display:none;">
      <ul>
        <li><%= link_to 'User Info', edit_user_path(current_user) %></li>
		<li>Protocols</li>
		<li>Drop-Down Lists</li>
      </ul>
    </div>	
			
	</ul>
	
	</div> <!-- /leftsidebar -->
    <% end %>
    
	<div id="maincontent">
	<div style='color:red'> <%= flash[:error]%></div>
    <div style='color:green'> <%= flash[:notice]%></div>
	<%= yield %>
	</div><!-- /maincontent -->	
</div><!-- /main -->

<div id="footer">
	<div class="lft">
		<a href="http://med.stanford.edu/sgtc/">Stanford Genome Tech Center</a>&nbsp;|
		<a href="mailto:insert_contact_name@stanford.edu">Contact</a>
	</div>
</div>

</div><!-- /container -->

</body>
</html>