<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title>ISCC LIMS<%= controller.action_name %></title>
        <%= stylesheet_link_tag 'lims_std' %>
		<%= stylesheet_link_tag 'MenuBarHorizontal' %>
        <%= javascript_include_tag :all, :cache => true %>
		<%= calendar_date_select_includes %>
    </head>

<body id='body'>
	
<div id="container" style="width: 98%;">
	
<div id="header">
	<div class="logo"><%= image_tag("SU_Seal_Card_pos_small.gif", :size => "100x100", :alt => "Stanford Logo") %></div>
	<div class="sitename">ISCC LIMS <% if RAILS_ENV != 'production'%> - (<%= RAILS_ENV%>)<%end%>
	  	<% if logged_in? %>	
		<div class="affiliation"><%= current_user.lab.lab_name %></div>
		<% end %>
	</div>
	<div class="version">Version: 0</div>
    <% if logged_in? %>	
	<div class="logout-link"><%= link_to 'User Profile', edit_user_path(current_user) %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Logout', logout_url %></div>
	<% end %>

</div><!-- /header -->

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:0;">
  <tr><td style="background-color: #990000; padding: 0;">
  <!-- 
  <ul id="MenuBar1" class="MenuBarHorizontal">	
    <li><a class="MenuBarItemSubmenu" href="#">Topic with Submenu</a>
      <ul>
        <li><a class="MenuBarItemSubmenu" href="#">Subtopic with Submenu</a>
          <ul>
            <li><a href="#">SubSubtopic Item</a></li>
            <li class="last-item"><a href="#">Subsubtopic Item</a></li>
          </ul>
        </li>
        <li><a href="#">Subtopic with no Submenu</a></li>
		<li class="last-item"><a href="#">Subtopic with no Submenu</a></li>
      </ul>
    </li>
  </ul> --> <!-- /ul nav bar -->
  <!-- currently not using top nav bar, so this will fill in the space. Comment or take out if the dropdown nav is used -->
  <div>&nbsp;</div>
  </td></tr>
</table>

<div class="clear"></div>

<div id="main">
<% if logged_in? %>	
 <div id="leftsidebar">
  <div class="user_info">
    <i> Logged in as: <%= current_user.login %> </i>
  </div>
  <ul class="opened">	
	<li><a href="#">Resources</a>
      <!--
	  <ul>
	    <li><a href="#">Resource 1</a></li>
		<li><a href="#">Link 2</a></li>
       </ul>	
	 </li>
	 -->	
  </ul>
</div> <!-- /leftsidebar -->
<% end %>
    
<div id="maincontent">
  <div style='color:red'> <%= flash[:error]%></div>
  <div style='color:green'> <%= flash[:notice]%></div>
  <%= yield %>
</div><!-- /maincontent -->	
</div><!-- /main -->

<div id="footer">
  <div class="lft">
  <a href="http://med.stanford.edu/sgtc/">Stanford Genome Tech Center</a>&nbsp;|
  <a href="mailto:insert_contact_name@stanford.edu">Contact</a>
</div>
</div>

</div><!-- /container -->
<script type="text/javascript">
    var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgDown:"images/SpryMenuBarDownHover.gif", imgRight:"images/SpryMenuBarRightHover.gif"});
</script>
</body>
</html>