<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title>ISCC RNA-Seq Data Portal - <%= controller.action_name %></title>
		<meta name="description" content="<%= META_TAGS[:description] %>" />
        <meta name="keywords" content="<%= META_TAGS[:keywords] %>" />
        <%= stylesheet_link_tag 'lims_std' %>
		<%= stylesheet_link_tag 'iscc_styles' %>
		<!--%= stylesheet_link_tag 'lims-superfish' %-->
		<!--[if IE]><%= stylesheet_link_tag 'ie-fixes' %><![endif]-->               
		<%= javascript_include_tag :defaults, 'jquery-1.5.1.min' %>		  		    
		<%= calendar_date_select_includes %>
	    <script type="text/javascript">
	        var $j = jQuery.noConflict();
        </script>
		<script type="text/javascript">
        // initialise Superfish 
        //$j(document).ready(function() { 
          //$j('ul.sf-menu').superfish({ 
            //delay:       1000,                            // one second delay on mouseout 
            //animation:   {opacity:'show',height:'show'},  // fade-in and slide-down animation 
            //speed:       'fast',                          // faster animation speed  
          //}); 
        //}); 		
		</script>
		<!--% user_roles = (logged_in? ? current_user.roles.collect(&:name) : nil) %-->
    </head>

<body id='body'>

<div id="container" style="width: 98%;">
	
<div id="header">
  <table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-bottom: 0;">
    <tr>
      <td valign="top" rowspan="2" width="180"><div class="logo"><%= image_tag("SU_Seal_Card_pos_89.gif", :height => "89", :alt => "Stanford Genome Technology") %></div></td>
      <td valign="top"><div class="sitename-graphic"><%= image_tag("iscc_sitename.gif", :height => "58", :alt => "SGTC Sequencing Database") %></div></td>
      <td valign="top" width="180"><div class="version"><% if APP_VERSION %>Version: <%= APP_VERSION %><% end %><br /><% if RAILS_ENV != 'production'%> <span style="font-size:larger;">(<%= RAILS_ENV%>)</span><%end%></div></td>
    </tr>
    <tr>
      <td><div class="tagline"><!-- header text here --></div></td>      
      <td valign="bottom">
      	<% if logged_in? %>
        <div class="logout-link">
        <% if logged_in? %>
		  <!--% if user_has_access?(user_roles, ["admin"]) %--> 
          <%= link_to 'Admin', result_files_path %>&nbsp;&nbsp;&nbsp;&nbsp;
		  <!--% end %-->
		<% end %>
          <%= link_to 'User Profile', edit_user_path(current_user) %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to 'Logout', logout_url %>
        </div>
        <% end %>
      </td>	  
    </tr>
  </table>  
</div><!-- /header -->
<!-- 
  top nav requires:
  - uncomment stylesheet link for lims-superfish.css
  - uncomment jQuery.noConflict
  - uncomment initialise Superfish
  - uncomment block of code for <ul class="sf-menu"> below
  files required - latest jquery, superfish.js, lims-superfish.css
  images - arrows-ffffff.png, shadow.png
  source - http://users.tpg.com.au/j_birch/plugins/superfish/
-->   
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:0; table-layout:fixed;">
  <tr>
    <td id="topnavbar"> 	
    <!--
    <ul class="sf-menu">
      <li><a href="#">Top Item 1</a>     
        <ul>
          <li><a href="#">Submemu Item 1</a></li>
		  <li><a href="#">Submenu Item 2</a>
            <ul>
          	  <li><a href="#">Subsubmenu Item 1</a></li>
              <li><a class="last-submenu-item" href="#">Subsubmenu Item 2</a></li>
            </ul>
          </li>
		  <li><a class="last-submenu-item" href="#">Submemu Item 3</a>
		    <ul>
          	  <li><a href="#">Subsubmenu Item 1</a></li>
              <li><a class="last-submenu-item" href="#">Subsubmenu Item 2</a></li>
            </ul>
		  </li>
        </ul>
      </li>
	  <li><a href="#">Top Item 2</a>
	    <ul>
	  	  <li><a href="#">Submemu Item 1</a</li>
		  <li><a href="#">Submemu Item 2</a</li>
		  <li><a class="last-submenu-item" href="#">Submemu Item 3</a</li>
	    </ul>
	  </li>
	  <li><a class="last-topmenu-item" href="#">Top Item 3</a>
    </ul>
    -->  <!-- /ul nav bar -->
    <!-- comment this out if using top nav --> 
    <div style="height: 22px;">&nbsp;</div>
    </td>
  </tr>
</table>

<div class="clear"></div>

<div id="main">

<% if logged_in? %>	
<div id="leftsidebar">
  <div class="user_info">
     <em>Logged in as: <%= current_user.login %><br />
	 Lab: <%=h current_user.lab.lab_name %></em>
  </div>
  <ul class="opened">
  	<li><a href="/">Home</a></li>
	<div class="sidebar-label">Resources:</div>
	  <ul>    
		<li><%= link_to 'Shipment Instructions', show_sop_path %></li>
       </ul>	
	 <!--</li>-->
	 <div class="sidebar-label">Tools:</div>
	 <% if current_user.has_admin_access? %>
	 <li><%= link_to 'Receive Samples', recv_samples_path %></li>
	 <% end %>
	 <% if can? :new, Sample %>
	 <li><%= link_to 'New sample', new_sample_path %></li>
	 <% end %>
     <li><%= link_to 'List All', samples_path %></li>
  </ul>
</div> <!-- /leftsidebar -->    
<% end %>
    
<div id="maincontent">
	<div style='color:red'> <%= flash[:error]%></div>
	<div style='color:green'> <%= flash[:notice]%></div>
	<%= yield %>
</div><!-- /maincontent -->
	
</div><!-- /main -->

<div id="footer">
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-bottom: 0;">
  <tr>
    <td valign="top">
      <a href="http://med.stanford.edu/sgtc/">Stanford Genome Tech Center</a>&nbsp;|
      <a href="mailto:sgrimes@stanford.edu">Contact</a>
      <div class="site-blurb">Website provided by the Ji Research Group<br />School of Medicine and Genome Technology Center at Stanford University<br />
      This website and its content &copy; Stanford University, <%= Time.now.localtime.strftime("%Y") %>. All rights reserved.
      </div>
    </td>
	<td valign="top">
      <table border="0" cellpadding="0" cellspacing="0" align="right" style="margin-bottom: 0;" width="45%">
        <tr>
          <td colspan="2" style="color:#990000;">Funding Provided by</td>
        </tr>           
        <tr>
          <td class="funding-text"><a href="http://www.nih.gov/"><!--<cite>NIH-logo.gif - credit: image from http://www.nih.gov/ </cite>--><%= image_tag("NIH-logo.gif", :height => "70", :border => 0, :alt => "National Institutes of Health") %></a></td>     
          <td class="funding-text"><a href="http://www2.niddk.nih.gov/"><!--<cite>NIDDK-logo.gif - credit: image from http://www2.niddk.nih.gov/ </cite>--><%= image_tag("NIDDK-logo.gif", :height => "70", :border => 0, :alt => "The National Institute of Diabetes and Digestive and Kidney Diseases") %></a></td>
        </tr>
		<tr>
          <td valign="top" class="funding-text"><a href="http://www.nih.gov/">National Institutes of Health</a></td>
		  <td valign="top" class="funding-text"><a href="http://www2.niddk.nih.gov/">National Institute of Diabetes and Digestive and Kidney Diseases</a></td> 
		</tr> 
      </table>
    </td>
  </tr>
</table>
</div>

</div><!-- /container -->
</body>
</html>
